.page-wrapper {
  margin: 0;
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}

.page-header {
	margin: 0px;
	padding-bottom: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #efefef;
  border-bottom: 3px solid #c63b68;
}

.page-header>div {
  padding: 20px 10px;
}

.page-logo {
  display: inline-block;
  vertical-align: middle;
}

.page-logo img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  border: 2px solid #c63b68;
  margin-right: 15px;
}

.page-logo a {
  display: inline-block;
  vertical-align: middle;
  color: #c63b68;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s;
}

.page-logo a:hover {
  color: #777777;
}

.page-nav {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 80px);
  padding: 0;
  margin: 0;
  text-align: right;
  list-style: none;
}

.page-nav li {
  display: inline-block;
}

.page-nav li a {
  font-weight: bold;
  padding: 8px 18px 8px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
}

.page-nav li a:hover {
  color: #c63b68;
}

.page-nav li ul {
  display: none;
}

.page-content {
  margin-top: 85px;
}

@media screen and (max-width: 775px) {
  .mobileMenu {
      background: #c63b68;
      width: 30px;
      height: 30px;
      white-space: nowrap;
      padding-top: 5px;
      line-height: 0;
      position: absolute;
      top: 25px;
      right: 10px;
      display: block;
      margin: auto;
      cursor: pointer
  }
  .mobileMenu span.line {
      background: #fff;
      width: 20px;
      height: 4px;
      display: block;
      margin: 0 auto 4px auto;
  }
  .page-nav {
      display: none;
      position: absolute;
      top: 85px;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0;
      background: #efefef;
      text-align: left;
  }
  .page-nav.active {
      display: block;
  }
  .page-nav li {
      display: block;
  }
  .page-nav li a {
      display: block;
      padding: 10px 15px;
      transition: color .3s, background .3s;
  }
  .page-nav li a:hover {
      color: #fff;
      background: #c63b68;
  }
  .feature-gallery {
      padding-top: 35%;
  }
  .feature-callouts .callout,
  .commandsWrap .commandBox {
      display: block;
      width: calc(100% - 20px);
  }
}